
.offer-img{
    margin-left: 187px;
    margin: 10px;
}

.card img{
    width: 150px;
    margin-left: 130px;
    margin-top: 10px;
}

.footer-card{
    background-color: rgb(223, 217, 217);
}

.card-body{
    text-align: center;
}



